name: Stock News Bot

on:
  schedule:
    # Lịch mới: 8:30, 11:00, 14:00, 16:30, 20:30 giờ VN
    - cron: '30 1,9,13 * * *'
    - cron: '0 4,7 * * *'

  # Dòng này để mày có thể bấm nút chạy thử thủ công
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Bot
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python main.py
